
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
build/
profiles/
native
#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/

.vs
*.vsidx
.wsuo
DocumentLayout.json
*.obj
*.zip
assets/mapres/九里庆安/幼虫500面/幼虫500面.zip.meta
